@using WebApplication.Web.Models;
@model Park
@{
    ViewData["Title"] = "ParkDetail";
}

<img src="~/images/parks/@(Model.ParkCode).jpg" />
<h2>@Model.ParkName</h2>
<h3>est. @Model.YearFounded</h3>

<div class="details-container">
    <h3>@Model.Quote</h3>
    <h4>@Model.QuoteSource</h4>
    <p>@Model.ParkDescription</p>
    <p>@Model.State</p>
    <p>Entry Fee: @Model.EntryFee.ToString("C")</p>
    <p>Climate: @Model.Climate</p>
    <p>Acreage: @Model.Acreage</p>
    <p>Elevation: @Model.ElevationInFeet ft</p>
    <p>Miles of Trail: @Model.MilesOfTrail mi</p>
    <p>Number of Campsites: @Model.NumberOfCampsites</p>
    <p>Annual Number of Visitors: @Model.AnnualVisitorCount</p>
    <p>Number of Animal Species: @Model.AnimalSpecies</p>
</div>

<div class="weather-container">
    <h2>WEATHER</h2>
    @foreach (Weather weather in Model.Weathers)
    {
         <div class="days-container">
             <img src="~/images/weather/@(weather.Forecast).png" />
             <h3>@weather.Forecast</h3>
             <h3>High @weather.High Low @weather.Low</h3>

             <p>@weather.ForecastSuggestionString(weather.Forecast)</p>
             <p>@weather.TempSuggestionString(weather.High,weather.Low)</p>

        </div>


    }
</div>


